{namespace backendm=CAG\BackendMessages\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">

	<h1><f:translate key="plugin.list.header">[plugin.list.header]</f:translate></h1>

	<f:flashMessages/>

	<div class="panel panel-space panel-default recordlist">
		<div class="panel-heading">
			<f:translate key="plugin.list.table.header">[plugin.list.table.header]</f:translate> (<span class="t3js-table-total-items">{messages->f:count()}</span>)
			<a href="{backendm:link.message.new(pid: storagePid)}"
				 title="{f:translate(key: 'plugin.list.title.new')}"
				 class="btn btn-default btn-sm">
				<core:icon identifier="actions-add" size="small" />
			</a>
		</div>
		<div class="collapse in" data-state="expanded" id="recordlist-tx_backendmessages_domain_model_message">


				<f:be.widget.paginate objects="{messages}"
													 configuration="{
															 	itemsPerPage: 20,
															 insertAbove: 1,
															 insertBelow: 1
															 }"
													 as="paginatedMessages">
					<f:render section="PaginatedListWidgetBody" arguments="{_all}" />
				</f:be.widget.paginate>
		</div>
	</div>
</f:section>

<f:section name="PaginatedListWidgetBody">
	<div class="table-fit">
		<table data-table="tx_backendmessages_domain_model_message" class="table table-striped table-hover">

			<tbody>

			<f:for each="{paginatedMessages}" as="message">
				<f:alias map="{classMessage: '{f:if(condition: message.expired, else: message.type.style, then: \'alert-expired\')}'}">
					<tr class="t3js-entity firstcol lastcol ">
						<td class="col-icon nowrap alert {classMessage}">
							<div class="media">
								<div class="media-left">
												<span class="fa-stack fa-lg">
													<i class="fa fa-circle fa-stack-2x"></i>
													<i class="fa {message.type.icon} fa-stack-1x"></i>
												</span>


								</div>
							</div>
						</td>

						<td class="col-title col-responsive nowrap {classMessage}">
							{message.type.title}:
							{message.date -> f:format.date(format:'d.m.Y H:i')} ->
							<f:if condition="{message.expiryDate}">
								<f:then>{message.expiryDate -> f:format.date(format:'d.m.Y H:i')}</f:then>
								<f:else><f:translate key="plugin.list.defaultExpiryDate.title">[plugin.list.defaultExpiryDate.title]</f:translate></f:else>
							</f:if><br />
							<strong>{message.title}</strong><br/>
							{message.bodytext}
							<p>
								<f:for each="{message.comments}" as="comment" iteration="iteration">
									{comment.backendUser.username}<f:if condition="{iteration.isLast}">
									<f:else>, </f:else>
								</f:if>
								</f:for>
							</p>
						</td>
						<td class="col-control nowrap {classMessage}">
							<div class="btn-group" role="group">
								<a class="btn btn-default" href="{backendm:link.message.edit(id: message.uid)}"
									 title="{f:translate(key: 'plugin.list.title.edit')}">
									<f:if condition="{message.hidden}">
										<core:icon identifier="overlay-hidden" size="small" />
									</f:if>
									<span
										class="t3js-icon icon icon-size-small icon-state-default icon-actions-open"
										data-identifier="actions-open">
															<span class="icon-markup">
																<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-open.svg"
																		 width="16" height="16">
															</span>
														</span>
								</a>
							</div>
						</td>
					</tr>
				</f:alias>
			</f:for>
			</tbody>
		</table>
	</div>
</f:section>
</html>
