<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-backend-messages" >
	<tr>
		<td>
			<f:translate key="tx_backendmessages_domain_model_message.title" />
		</td>
		<td>
			{message.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_backendmessages_domain_model_message.bodytext" />
		</td>
		<td>
			{message.bodytext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_backendmessages_domain_model_message.date" />
		</td>
		<td>
			{message.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_backendmessages_domain_model_message.internal_note" />
		</td>
		<td>
			{message.internalNote}
		</td>
	</tr>
</table>
</html>